{% extends '::base.html.twig' %}

{% block body -%}
<br/><br/><br/><br/>
    <h1>Kendo</h1>
    <ul>
        <li><a href="{{ '#' }}">Data</a></li>
        <li><a href="{{ '#' }}">UI</a></li>
        <li><a href="{{ '#' }}">Dataviz</a></li>
        <li><a href="{{ '#' }}">Html</a></li>
    </ul>

{% endblock %}