{% extends '::base.html.twig' %}

{% block body -%}
<br/><br/><br/><br/>
    <h1>Kendo Data</h1>
    
    <ul>
        <li><a href="{{ '#' }}">Datasource</a></li>
        <li><a href="{{ '#' }}">Heirarchical Datasource</a></li>
    </ul>
    
{% endblock %}
